body {
    background-image: url(https://cdn.glitch.global/14aac4d3-be57-44f2-ab37-5ba59d906534/image.jpg?v=1664043943928);
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    margin: 0;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
} 

#container {
    background-color: rgb(240, 240, 240);
    width: 30%;
    margin-top: 100px;
    padding: 20px;
    border: 3px solid #fff;
    opacity: 1;
}

h3 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

#guess {
    padding: 10px;
    width: 40%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    border: none;
}

#btn {
    background-color: #185ADB;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px;
    border: none;
    width: 50%;
}


@media all and (max-width: 800px) {
  #guess {
    width: 80px;
  }
  
  #container {
        width: 50%;
    }
}

@media all and (max-width: 500px) {
  #guess {
    width: 150px;
    padding: 5px;
    font-size: 10px;
  }
}